{# The basic HTML skeleton for the whole application #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Parcel Github Pages Boilerplate</title>

    <link rel="stylesheet" href="./src/scss/index.scss">

  </head>
  <body>
    
    {% block body %}
    {% endblock %}

    <script src="./src/index.js"></script>
  </body>
</html>

