{# A common template to re-use accross all pages of the application #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Parcel Github Pages Boilerplate</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f12caea778.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./src/scss/index.scss">

  </head>
  <body>
    
    {% block body %}
    {% endblock %}

    <script src="./src/index.js"></script>
  </body>
</html>

