{# The main page of the application #}

{% extends "_skeleton.njk" %}

{% block body %}
<div class="container">
  <p>
    <i class="fas fa-arrow-right"></i> Insert content here. <i class="fas fa-arrow-left"></i>
  </p>
</div>
{% endblock %}
