{# The main page of the application #}

{% extends "_skeleton.njk" %}

{% block body %}
<div class="container">
  <h1>Parcel Github Pages Boilerplate</h1>
  <p>
    <i class="fas fa-arrow-right"></i>
    <a href="https://github.com/nicolas-van/parcel-github-pages-boilerplate">See the Github project here.</a>
    <i class="fas fa-arrow-left"></i>
  </p>
</div>
{% endblock %}
