{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<p>
  Hello.
</p>
<p>
  This is the demonstration website of the Parcel Github Pages Boilerplate.
</p>
<p>
  <i class="fas fa-arrow-right"></i>
  <a href="https://github.com/nicolas-van/parcel-github-pages-boilerplate">See the Github project here for documentation.</a>
  <i class="fas fa-arrow-left"></i>
</p>
{% endblock %}
